.projects{
    margin-bottom: -2rem;
    scroll-margin-top: 15rem;
}

.projects .projects_content{
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}

.projects ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.projects ul .projects_right-list{
    display: flex;
    flex-direction: row-reverse;
}

.projects ul li:not(:last-of-type){
    margin-bottom: 12rem;
}

.projects ul li .image img{
    width: 100%;
    height: 400px;
    min-width: 40rem;
    max-width: 47rem;
    border-radius: 8px;
}

.projects ul li .projects_info{
    max-width: 57rem;
}

.projects ul li .projects_info p{
    margin: 1rem 0 4rem;
}

.links a{
    font-weight: 500;
    margin-right: 2.5rem;
    transition: color 0.3s;
}

.links a:hover{
    color: var(--tertiary-color);
}

@media only screen and (max-width: 768px){
    .projects ul li .image img{
        height: 300px;
        width: 320px;
    }

    .projects ul li,
    .projects ul .projects_right-list{
        flex-direction: column;
    }

    .projects ul li .projects_info{
        max-width: 66rem;
    }

    .projects ul li .image img{
        min-width: auto;
    }
}