.skills{
    scroll-margin-top: 15rem;
}

.skills .skills_content{
    padding: 6rem 4rem;
    text-align: center;
    margin: -6rem auto 8rem;
} 

.skills .skills_content p{
    margin-bottom: 4rem;
}

.skills .skills_content .tech-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.tech-icons img{
    transition: transform 0.3s ease;
}

.tech-icons img:hover{
    transform: scale(1.1);
}